ul, a { 
    color:goldenrod;
}

.container{
    width:50%;
    margin:0 auto;
} 

.centreren{
    margin: 0 auto;
    width: 500px;
}

.blok1{
    border: 1px solid black;
    border-style:outset;
    background-color:lightsteelblue ;
    margin: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.blok1 li{
    display:block;
    margin: 10px;
}


.blok2{
    border: 1px solid black;
    border-style:outset;
    background-color:rgb(64, 107, 163) ;
    margin: 1%;
    padding: 5px 10px; 
    /* zelfde als in box-1 */
    /* ook te noteren als padding: top,right, bottom, left */
}


body {
    background-color: cornflowerblue;
}
h1, h2,p  {
    font-family: Courier;
    font-weight:bold;
}
P {
    font-size:large;
    font-weight:lighter;
}


@media (min-width: 1024px) {
    body{
        background-color:teal;
        color:salmon
    }
    body{
        font-size: 14px;
        line-height: 30px;
    }
}
